/* Sidebar styles */
#sidebar {
    height: 100vh;
}

.sidebar-header {
    padding: 20px;
}

.sidebar-header h3 {
    color: #fff;
}

.components li {
    padding: 10px 20px;
}

.components li a {
    color: #fff;
    text-decoration: none;
}

.components li.dropdown .dropdown-menu {
    background-color: #343a40;
}

.components li.dropdown .dropdown-menu a {
    color: #fff !important;
    padding: 10px 20px;
}

.components li.dropdown .dropdown-menu a:hover {
    background-color: #495057;
}